

// primary colors
$black: #000;
$white: #fff;

$target-red: #cc0000;


// secondary colors

// greys
$grey-lt-bkg: #f6f5f5;
$grey-med:#666666;


// typography

$font-helvetica:'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-myriad:'Myriad Pro', Myriad, 'Helvetica Neue', Helvetica, sans-serif;