/* Modified on: Oct 11 2017 13:24 */
/* 	Make all edits to this file through the scss files 
	in the git repository */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.rating {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.rating .star {
  color: #666666;
}

.rating .star--filled {
  color: #cc0000;
}

.overall-review .rating .star, .overall-review .rating .star--filled {
  font-size: 19px;
}

.reviews {
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 749px) {
  .reviews {
    width: 100%;
  }
}

.reviews .overall-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.reviews .overall-review p {
  margin: 0px;
}

.reviews .overall-review span {
  text-align: right;
  flex-grow: 1;
}

.reviews .overall-review span a {
  font-weight: bold;
  color: #000;
}

.comment-header {
  padding: 15px 0px;
  background: #f6f5f5;
}

.comment-header h3 {
  margin: 0px;
  font-family: "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.comment-header h4 {
  margin: 0px;
}

.comment-header p {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.comment {
  background: #f6f5f5;
  overflow: hidden;
  padding: 10px 20px;
  flex-basis: 50%;
}

.comment h4 {
  margin: 5px 0px;
  font-size: 16px;
}

.comment p {
  font-size: 12px;
  margin: 0px;
  color: #666666;
  line-height: 18px;
}

.image-viewer--thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image-viewer--thumbnails img {
  height: 20px;
  width: 30px;
  display: inline;
  margin: 5px;
}

.image-viewer--thumbnails a {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.product {
  display: flex;
  flex-direction: row;
}

.product .product-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 40px;
}

.product .product-price {
  font-weight: bold;
  font-size: 30px;
}

.product .product-price span {
  font-size: 12px;
  color: #666666;
  font-weight: normal;
}

.product .product-showcase {
  text-align: center;
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product .product-showcase > img {
  width: 100%;
}

.product .product-showcase .zoom {
  color: #666666;
  display: inline-block;
  padding: 20px;
}

.product .product-showcase .zoom .fa {
  margin-right: 5px;
}

.product .product-showcase .zoom:hover, .product .product-showcase .zoom:focus {
  color: #000;
}

@media screen and (max-width: 749px) {
  .product .product-showcase .zoom {
    display: none;
  }
}

.product .product-info {
  flex-basis: 50%;
  padding: 20px;
}

.product .product-info .social-buttons {
  display: flex;
  flex-wrap: wrap;
}

.product .product-info .social-buttons a {
  flex-grow: 1;
}

.product .product-description h3 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0px;
  text-transform: lowercase;
}

.product .product-description ul li {
  margin: 10px;
  color: #666666;
  font-size: 14px;
}

.product .product-promo {
  color: #cc0000;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  list-style: none;
}

.product .product-promo li {
  margin: 10px 0px;
  position: relative;
  padding-left: 20px;
}

.product .product-promo li:before {
  content: '\f02b';
  font-family: FontAwesome;
  margin-right: 10px;
  position: absolute;
  left: 0px;
}

.product .cart-buttons {
  display: flex;
  flex-wrap: wrap;
}

.product .in-store {
  text-decoration: none;
  color: #000;
  width: 50%;
  margin: 0 auto;
  left: 12%;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 749px) {
  .product .in-store {
    display: none;
  }
}

.product .return-policy {
  display: flex;
  align-items: stretch;
  align-content: center;
  font-size: 14px;
}

.product .return-policy .return-title {
  padding: 0px 15px;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .return-policy .return-description {
  padding: 0px 15px;
}

.product .quantity-container {
  padding: 0px 10px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.product .quantity-container label {
  padding-right: 10px;
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
}

.product .quantity-container input {
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.product .quantity-container button {
  height: 30px;
  width: 30px;
  margin: 5px;
  background: #ccc;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: none;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.product .quantity-container button > span.fa {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  vertical-align: baseline;
  font-weight: normal;
}

.product .quantity-container button:hover, .product .quantity-container button:focus {
  background: #666666;
}

@media screen and (max-width: 749px) {
  .product {
    flex-direction: column;
  }
  .product .product-showcase, .product .product-info {
    flex-basis: unset;
  }
}

.button, .button--primary, .button--secondary, .button--grey {
  padding: 10px 20px;
  margin: 10px 5px;
  font-weight: lighter;
  letter-spacing: 0.08em;
  font-size: 1em;
  text-align: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  background: #eee;
  color: #000;
}

.button--primary {
  border: 1px solid #cc0000;
  background: #cc0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cc7070 0%, #cc0000 35%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cc7070 0%, #cc0000 35%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cc7070 0%, #cc0000 35%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.button--primary:hover, .button--primary:focus {
  background: #aa0000;
  text-decoration: none;
}

.button--secondary {
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 0%, #000 35%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666666 0%, #000 35%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 0%, #000 35%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
}

.button--secondary:hover, .button--secondary:focus {
  background: #444;
  text-decoration: none;
}

.button--grey {
  background: #f3f3f3;
  color: #444;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.button--grey:hover, .button--grey:focus {
  background: #ddd;
  text-decoration: none;
}
